*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.home{
    font-size: larger;
    font-weight: bold;
    padding: 10px 20px ;
    margin: 10px;
    position: relative;
}


.home::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: 0;
    transform-origin: left center;
    transition: transform .25s ease-in-out ;
    transform: scaleX(0);
}
.home:hover::after{
    transform: scaleX(1);
}
h1{
    color: aqua;
    color: red;
    background-color: aqua;
}


h2::after{
    content: " after h2";
}